.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px; 
}

.disable-interaction {
  pointer-events: none;
  opacity: 0.4;
}

.description-container {
  /* Style for the description text */
  text-align: center;
  margin-bottom: 20px;
  color:rgb(202, 187, 118);  
  font-size: 32px;
  font-weight: 900;
  padding-top: 90px;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 100%; /* Adjust as necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-button, .create-account-button {
  margin-top: 10px;
  width: 100%; /* Makes buttons full width of form */
  /* Additional styling */
}

.or-text {
  margin: 20px 0;
  /* Styling for 'or' text */
}


