html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px; 
}

.disable-interaction {
  pointer-events: none;
  opacity: 0.4;
}

.description-container {
  /* Style for the description text */
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     2px  2px 0 #000;
  margin-bottom: 40px;
  color:rgb(202, 187, 118);  
  font-size: 32px;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 90px;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 300px;
  height: 300px;
  position: relative; /* For positioning the exit button */
}

.form-control {
  margin-bottom: 15px; /* Space between fields */
  background-color: #5e5858; /* Background color */
  width: 290px; 
  height: 20px;
  border-radius: 5px;
}

::placeholder {
  color:rgb(202, 187, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.auth-form {
  width: 100%; /* Adjust as necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; 
}

.login-button, .create-account-button {
  margin-top: 10px;
  width: 100%; /* Makes buttons full width of form */
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.create-account-button:hover {
  background-color: rgb(62, 62, 62);
}

.login-button:hover {
  background-color: rgb(62, 62, 62);
}

.submit-button {
  margin-top: 10px;
  width: 100%; /* Makes buttons full width of form */
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: rgb(62, 62, 62);
}

.or-text {
  margin: 20px 0;
  color:rgb(202, 187, 118);
  font-size: 20px;
  font-weight: 600;
  /* Styling for 'or' text */
}

.registration-modal-content {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 120px;
  width: 300px;
  height: 300px;
  position: relative; /* For positioning the exit button */
}

.modal-header {
  position: relative; /* Essential for the absolute positioning of the button */
  /* Minimize or remove padding/margin that might affect layout */
}


.modal-close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 10;
}


.footer {
  background-color: rgba(18, 18, 18, 0.8);
  color:rgb(202, 187, 118);
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Distributes space evenly */
  align-items: center;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.footer a {
  color:rgb(202, 187, 118);
  text-decoration: none;
}

/* Add responsiveness or additional styling as needed */

.footer-button {
  background-color: rgb(36, 36, 36);
  color:rgb(202, 187, 118);
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.footer-button:hover {
  background-color: rgb(51, 51, 51); /* Darken on hover */
}


@media (max-width: 600px) {
  .form-container, .modal-content {
    width: 90%; /* Adjust width for smaller screens */
    padding: 20px; /* Adjust padding */
    height: auto; /* Adjust height */
  }

  .description-container {
    font-size: 24px; /* Smaller font size */
    padding-top: 30px; /* Adjust padding */
  }

  .footer-content {
    flex-direction: column;
  }
}