/* Styling for scroll bar */ 

body::-webkit-scrollbar {
  width: 5px; 
  background-color: #221e1e;
}

body::-webkit-scrollbar-thumb {
  background: rgb(223, 180, 51); 
  border-radius: 5px; 
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 217, 102); 
}

/* Background containers for every page */

.background-container-authpage {
  background-image: url("Images/backgroundImage.webp"); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 35px);
  width: 100%;
  align-items: center;
}

.background-container-homepage {
  background-image: url("Images/backgroundImage.webp"); 
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 95px);
  width: 100%;
  align-items: center;
}

.background-container-tradepage {
  background-image: url("Images/backgroundImage.webp");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 95px);
  width: 100%;
  align-items: center;
}

/* Navbar styling */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px; 
  background-color: rgb(21, 21, 21); 
}

.navbar a, .navbar button {
  color: rgb(202, 187, 118);
  text-decoration: none;
  margin-left: 20px; 
  font-weight: 600;
}

.navbar-appname {
  color:rgb(202, 187, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: -15px;
}

.navbar a.active {
  border-bottom: 2px solid rgb(248, 204, 28); 
}

.logout-button {
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

.logout-button:hover {
  background-color:rgba(255, 255, 255, 0.1)
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px; /* Logo size */
  margin-right: 10px;
}

.disable-interaction {
  pointer-events: none;
  opacity: 0.4;
}

/* Login container and authform styling */

.description-container {
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     2px  2px 0 #000;
  margin-bottom: 40px;
  color:rgb(202, 187, 118);  
  font-size: 32px;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 10%;
  font-size: clamp(1rem, 2.5vw, 32px);
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh auto 5vh; /* top, right-left, bottom */
  max-width: 500px; /* max-width for control */
  min-height: 10%; /* min-height for a little flexibility */
  width: 80%; /* starting width */
}

.form-control {
  margin-bottom: 15px; /* Space between fields */
  background-color: #5e5858; /* Background color */
  width: 70%; 
  height: 20%;
  border-radius: 5px;
  color:rgb(202, 187, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus, 
.form-control:-webkit-autofill:active {
  box-shadow: 0 0 0 30px rgba(58, 56, 56, 0.8) inset !important;
  -webkit-text-fill-color: rgb(202, 187, 118) !important;
  -webkit-text-font-size: 16px;
  font-weight: 600; 
}

.form-control:-webkit-autofill::placeholder {
  color: rgb(202, 187, 118);
  font-size: 16px;
  font-weight: 600; 
}

::placeholder {
  color:rgb(202, 187, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.auth-form {
  width: 90%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

.login-button, .create-account-button {
  margin-top: 10px;
  width: 60%; 
  height: 60%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

.create-account-button:hover {
  background-color: rgb(62, 62, 62);
}

.login-button:hover {
  background-color: rgb(62, 62, 62);
}

.auth-page-logo {
  margin-top: 10px;
  max-width: 60%; 
  height: auto; 
}


/* Registration modal styling */

.registration-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  position: fixed; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;  
  max-width: 500px; 
  padding: 20px; 
  box-sizing: border-box; 
  border-radius: 8px; 
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
}

.registration-modal-content .modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(202, 187, 118);
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Or any value to position it as needed inside the modal */
  width: 100%; /* It will take the full width of its parent, which is the modal in this case */
}

.registration-form .form-control,
.registration-form .submit-button {
  /* Reuse the same styles as .form-control and .submit-button from the auth form, or customize as necessary */
}


.submit-button {
  margin-top: 10px;
  width: 102%; /* Makes buttons full width of form */
  max-width: 228px;
  height: 28%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(62, 62, 62);
}

.or-text {
  margin: 15px 0;
  color:rgb(202, 187, 118);
  font-size: 20px;
  font-weight: 600;
}

.registration-modal-logo {
  position: absolute;
  top: 208px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0, auto;
  max-width: 217px; /* Adjust as needed */
  height: 217px; /* Maintain aspect ratio */
  margin-top: 83px;
}

.error-message {
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color:rgb(202, 187, 118)
}

.success-message {
  margin-top: 20px;
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color:rgb(202, 187, 118)
}

/* Homepage styling */

.account-content {
  background-color: rgba(0, 0, 0, 0.9); 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 50%; 
  width: 80%; 
  margin: auto; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color:rgb(202, 187, 118)
}

.holdings-table {
  width: 100%;
  height: 50%;
  border-collapse: collapse;
  margin-top: 100px;
}

.holdings-table th, .holdings-table td {
  padding: 8px;
  text-align: left;
}

.holdings-table tr:nth-child(even){background-color: #221e1e;} 
.holdings-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333; 
  color:rgb(202, 187, 118);
}

.portfolio-header {
  font-size: 38px;
}

.holdings-section {
  margin-top: 70px;
  margin-bottom: 10px;
}

.holdings-header {
  font-size: 30px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px; /* Match this with your navbar height */
}

.search-results-container {
  background-color: rgba(0, 0, 0, 0.7);
  color:rgb(202, 187, 118);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.trade-input {
  color:rgb(202, 187, 118);
}

.trade-search-button:hover {
  background-color:rgb(62, 62, 62);
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-result-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-results-container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 730px;
}

.search-field-container {
  display: flex; 
  gap: 5px; 
}

.input-field, .search-button {
  flex: 1; 
}

.results {
  max-height: 700px; 
  overflow-y: auto;
  
}

.results::-webkit-scrollbar {
  width: 8px; 
}

.results::-webkit-scrollbar-thumb {
  background-color:rgb(223, 180, 51);
  border-radius: 6px; 
  cursor: pointer;
}

.results::-webkit-scrollbar-thumb:hover {
  background-color: rgb(252, 203, 57);
}

.trade-search-button {
  margin-top: 10px;
  width: 25%; 
  margin-left: 5px;
  margin-top: 1px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

.buy-sell-button-container {
  display: flex; 
  justify-content: flex-start; 
  gap: 5px; 
}

.button-buy, .button-sell {
  flex: 1;
  width: 50%; 
  margin-left: 0; 
  padding-top: 0; 
  padding-bottom: 8px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.button-sell:hover {
  background-color:rgba(0, 0, 0, 1);
}

.button-buy:hover {
  background-color:rgba(0, 0, 0, 1);
}

.trade-modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; 
  color: rgb(202, 187, 118);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 425px; 
  height: 265px; 
  z-index: 10;
  background-color: rgba(0, 0, 0, 1); 
}

.confirm-buy-button {
  margin-top: 10px;
  width: 25%; 
  margin-top: 1px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.confirm-buy-button:hover {
  background-color: rgb(62, 62, 62);
}

.confirm-sell-button {
  margin-top: 10px;
  width: 25%; 
  margin-top: 1px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.confirm-sell-button:hover {
  background-color: rgb(62, 62, 62);
}

.trade-modal .modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:rgba(0, 0, 0, 0.7);
  border: none;
  color:rgb(202, 187, 118);
  font-size: 22px;
}


.footer {
  background-color: rgba(18, 18, 18);
  color:rgb(202, 187, 118);
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.footer-content {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;
}

.footer a {
  color:rgb(202, 187, 118);
  text-decoration: none;
}

.footer-button {
  background-color: rgb(36, 36, 36);
  color:rgb(202, 187, 118);
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.footer-button:hover {
  background-color: rgb(51, 51, 51);
}

@media (max-width: 600px) {
  .background-container-authpage,
  .background-container-homepage,
  .background-container-tradepage, 
  .footer {
    padding: 10px;
  }

  .form-container, .registration-modal-content {
    width: 90%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
    height: auto; /* Height adjusts to content */
    max-width: 500px; /* Control the max-width for larger phones */
  }

  .registration-modal-content {
    /* Ensures that the modal content is not wider than its container */
    width: 90%; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
    /* Remove fixed height to allow content to dictate the size */
    height: auto; 
    /* Set a reasonable max-width for the content on small devices */
    max-width: 500px;
    /* Use transform to center the modal on small screens */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .auth-form {
    width: 100%; /* Let the form fill the container */
    margin-top: 20px; /* Space from the top of the container */
  }

  .auth-page-logo {
    max-width: 80%; /* Larger max-width for better fit */
    height: auto;
  }

  .description-container,
  .form-control,
  .login-button,
  .create-account-button,
  .submit-button,
  .or-text {
    font-size: clamp(1rem, 5vw, 18px); /* Responsive font size */
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .form-container, .registration-modal-content {
    width: 80%; /* Adjust the width for tablets */
    max-width: 600px; /* Control max-width on intermediate devices */
  }

  .auth-page-logo {
    max-width: 60%; /* Adjust the logo max-width for tablets */
    height: auto;
  }

  /* Adjust font sizes and other styles for intermediate screen sizes */
  .description-container,
  .form-control,
  .login-button,
  .create-account-button,
  .submit-button,
  .or-text {
    font-size: clamp(1rem, 3vw, 22px); /* Slightly larger font sizes for tablets */
  }

  .registration-modal-content {
    /* Ensures that the modal content is not wider than its container */
    width: 90%; 
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 20px;
    /* Remove fixed height to allow content to dictate the size */
    height: auto; 
    /* Set a reasonable max-width for the content on small devices */
    max-width: 500px;
    /* Use transform to center the modal on small screens */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1025px) {
  .registration-modal-content {
    /* Adjustments for larger screens */
    width: 50%; /* You can adjust this based on your design */
    max-width: 800px; /* Max width for larger screens */
    /* Maintain the centering as before */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}



