.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px; 
}

.disable-interaction {
  pointer-events: none;
  opacity: 0.4;
}

.description-container {
  /* Style for the description text */
  text-align: center;
  margin-bottom: 20px;
  color:rgb(202, 187, 118);  
  font-size: 32px;
  font-weight: 900;
  padding-top: 90px;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  margin-bottom: 350px;
}

.form-control {
  margin-bottom: 15px; /* Space between fields */
  background-color: #5e5858; /* Background color */
  width: 290px; 
  height: 20px;
}

::placeholder {
  color:rgb(202, 187, 118);
  font-size: 16px;
}

.auth-form {
  width: 100%; /* Adjust as necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; 
}

.login-button, .create-account-button {
  margin-top: 10px;
  width: 100%; /* Makes buttons full width of form */
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  
}

.or-text {
  margin: 20px 0;
  color:rgb(202, 187, 118);
  font-size: 20px;
  font-weight: 600;
  /* Styling for 'or' text */
}

.modal-close-button {
  background-color: rgba(0, 0, 0, 0.8); 
  margin-top: 10px;
  color:rgb(202, 187, 118);
  border: 0;
  font-size: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}




