body::-webkit-scrollbar {
  width: 5px; /* Adjust the width of the scrollbar */
  background-color: #221e1e;
}

/* Style for the scrollbar handle */
body::-webkit-scrollbar-thumb {
  background: rgb(223, 180, 51); /* Adjust the color to match your theme */
  border-radius: 5px; /* Optional: rounded corners for the scrollbar handle */
}

/* Style for the scrollbar handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 217, 102); /* A slightly different color on hover */
}

.background-container {
  background-image: url("Images/backgroundImage.webp"); /* Adjust the path as necessary */
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: calc(100vh - 35px);
  width: 100%;
  overflow-x: hidden;
  align-items: center;
}

.error-message {
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color:rgb(202, 187, 118)
}

.success-message {
  margin-top: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 800;
  color:rgb(202, 187, 118)
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px; /* Fixed height */
  background-color: rgb(21, 21, 21); /* Background color */
}

.navbar a, .navbar button {
  color: rgb(202, 187, 118);
  text-decoration: none;
  margin-left: 20px; /* Spacing between links */
  font-weight: 600;
}

.navbar-appname {
  color:rgb(202, 187, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-left: -15px;
}

.navbar a.active {
  border-bottom: 2px solid rgb(248, 204, 28); /* Underline for active link */
}

.logout-button {
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

/* Additional styling for your logo and app name */
.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 60px; /* Logo size */
  margin-right: 10px;
}

.disable-interaction {
  pointer-events: none;
  opacity: 0.4;
}

.description-container {
  /* Style for the description text */
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px  1px 0 #000,
     2px  2px 0 #000;
  margin-bottom: 40px;
  color:rgb(202, 187, 118);  
  font-size: 32px;
  font-weight: 900;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 90px;
}

.form-container {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10vh;
  width: 300px;
  height: 300px;
  position: relative; /* For positioning the exit button */
}

.form-control {
  margin-bottom: 15px; /* Space between fields */
  background-color: #5e5858; /* Background color */
  width: 290px; 
  height: 20px;
  border-radius: 5px;
  color:rgb(202, 187, 118);
  font-size: 16px;
  font-weight: 600;
}

::placeholder {
  color:rgb(202, 187, 118);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.auth-form {
  width: 100%; /* Adjust as necessary */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; 
}

.login-button, .create-account-button {
  margin-top: 10px;
  width: 100%; /* Makes buttons full width of form */
  max-width: 200px;
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

.create-account-button:hover {
  background-color: rgb(62, 62, 62);
}

.login-button:hover {
  background-color: rgb(62, 62, 62);
}

.submit-button {
  margin-top: 10px;
  width: 100%; /* Makes buttons full width of form */
  max-width: 200px;
  height: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgb(62, 62, 62);
}

.or-text {
  margin: 20px 0;
  color:rgb(202, 187, 118);
  font-size: 20px;
  font-weight: 600;
  /* Styling for 'or' text */
}

.registration-modal-content {
  background-color: rgba(0, 0, 0, 0.8); 
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 121px;
  width: 300px;
  height: 300px;
  position: relative; /* For positioning the exit button */
}

.modal-header {
  position: relative; /* Essential for the absolute positioning of the button */
  /* Minimize or remove padding/margin that might affect layout */
}


.modal-close-button {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 10;
  color: rgb(202, 187, 118);
  background-color: transparent;
  border: none; 
  font-size: 24px;
  cursor: pointer; 
  
}

.account-content {
  background-color: rgba(0, 0, 0, 0.9); /* Opaque background */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  height: 550px; 
  width: 600px; 
  max-width: 600px; /* Adjust as needed */
  margin: auto; /* Center horizontally */
  position: absolute; /* Absolute positioning */
  top: 50%; /* Position 50% from top */
  left: 50%; /* Position 50% from left */
  transform: translate(-50%, -50%); /* Adjust for exact centering */
  color:rgb(202, 187, 118)
}


.holdings-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 100px;
}

.holdings-table th, .holdings-table td {
  padding: 8px;
  text-align: left;
}

.holdings-table tr:nth-child(even){background-color: #221e1e;} /* For striped effect */
.holdings-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333; /* Adjust header background */
  color:rgb(202, 187, 118);
}

.portfolio-header {
  font-size: 38px;
}

.holdings-section {
  margin-top: 70px;
  margin-bottom: 10px;
}

.holdings-header {
  font-size: 30px;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: calc(100vh - 60px); /* Adjust based on navbar height */
  padding-top: 60px; /* Match this with your navbar height */
}


.search-results-container {
  background-color: rgba(0, 0, 0, 0.7);
  color:rgb(202, 187, 118);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.trade-input {
  color:rgb(202, 187, 118);
}

.search-result-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-result-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-results-container {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 730px;
}


.search-field-container {
  display: flex; /* Enables flexbox layout */
  gap: 5px; /* Space between input and button */
}

/* If your InputField and Button components have specific classes or styles, adjust them to fit in the flex container */
.input-field, .search-button {
  flex: 1; /* Adjust this value as needed to fit the layout */
}


.results {
  max-height: 700px; /* Adjust to your preference */
  overflow-y: auto;
  
}

/* Style the scrollbar itself (the track) */
.results::-webkit-scrollbar {
  width: 8px;  /* scrollbar width */
}

/* Style the handle (thumb) */
.results::-webkit-scrollbar-thumb {
  background-color:rgb(223, 180, 51);
  border-radius: 6px; /* rounded corners for the thumb */
  cursor: pointer;
}

/* Handle on hover */
.results::-webkit-scrollbar-thumb:hover {
  background-color: rgb(252, 203, 57);
  
}


.trade-search-button {
  margin-top: 10px;
  width: 25%; /* Makes buttons full width of form */
  margin-left: 5px;
  margin-top: 1px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

.buy-sell-button-container {
  display: flex; /* Enables flexbox layout */
  justify-content: flex-start; /* Aligns children to the start */
  gap: 5px; /* Space between buttons */
}

.button-buy, .button-sell {
  flex: 1;
  width: 50%; /* Makes buttons full width of form */
  margin-left: 0; /* Adjust or remove if necessary */
  padding-top: 0; /* Corrected from negative value */
  padding-bottom: 8px;
  height: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 800;
  color:rgb(202, 187, 118);
  background-color: rgb(25, 24, 24);
  border-radius: 10px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.footer {
  background-color: rgba(18, 18, 18);
  color:rgb(202, 187, 118);
  position: relative;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Distributes space evenly */
  align-items: center;
  flex-wrap: wrap; /* Ensures responsiveness */
}

.footer a {
  color:rgb(202, 187, 118);
  text-decoration: none;
}

/* Add responsiveness or additional styling as needed */

.footer-button {
  background-color: rgb(36, 36, 36);
  color:rgb(202, 187, 118);
  border: none;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s;
}

.footer-button:hover {
  background-color: rgb(51, 51, 51); /* Darken on hover */
}


@media (max-width: 600px) {
  .background-container {
    /* Full screen background */
    background-size: cover;
    /* Enable scrolling if content is larger than the screen */
    overflow-y: auto; 
    padding: 10px 0;
  }

  .form-container,
  .registration-modal-content {
    /* Adjust the width and centering for smaller screens */
    max-width: none; /* Remove max-width if set */
    margin: 0 auto; /* Center the containers */
    /* Positioning the form containers at the top to give space for the footer */
    position: static;
    margin-top: 10vh; /* Adjust the top margin to give some space from the top */
    margin-bottom: 5vh;
  }

  /* Text and input sizes */
  .description-container,
  .auth-form input,
  .footer-button,
  .login-button,
  .create-account-button,
  .submit-button {
    font-size: 14px; /* Smaller font size for better readability on small screens */
  }

  /* Footer adjustments */
  .footer {
    position: absolute; /* Keep the footer at the end of content */
    padding: 10px 0; /* Adjust padding to reduce height on smaller screens */
    margin-bottom: -20px;
  }

  /* Container and text alignment */
  .description-container,
  .auth-form,
  .footer-content {
    text-align: center; /* Center the text for a cleaner look on small screens */
  }

  
  
  /* Hamburger menu adjustments */
  /* Here you can add or remove styles related to how the hamburger menu should behave */
}

